{% extends "base.html" %}
{% block content %}
    <form action="/pattern/{{ pattern.id }}" method="post">
        <div class="mb-3">
            <label for="regex" class="form-label">Regex</label>
            <input type="text" class="form-control" name="regex" value="{{ pattern.regex }}"/>
        </div>
        <div class="mb-3">
            <label for="category_id" class="form-label">Category</label>
            <select class="form-select" name="category_id">
                {% for category in categories %}
                    <option value="{{ category.id }}" 
                        {% if category.id == pattern.id %}
                            selected
                        {% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="precedence" class="form-label">Precedence</label>
            <input type="number" class="form-control" name="precedence" value="{{ pattern.precedence }}"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}