{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Category View</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Category</th>
                        <th>Budgeted</th>
                        <th>Net Spending</th>
                        <th>Leftover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th></th>
                        <th>Totals</th>
                        <th>{{ total_budget }}</th>
                        <th>{{ total_spent }}</th>
                        <th>{{ total_leftover }}</th>
                    </tr>
                    {% for category in categories %}
                        <tr>
                            <td>
                                <a href="category/{{ category.id }}/edit" class="link-primary">Edit</a> 
                            </td>
                            <td>{{ category["name"] }}</td>
                            <td>{{ category["budget"] }}</td>
                            <td>{{ category["total"] }}</td>
                            <td>{{ category["leftover"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Transactions View</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Date</th>
                        <th>Check No.</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction["account"] }}</td>
                        <td>{{ transaction["date"] }}</td>
                        <td>{{ transaction["num"] }}</td>
                        <td>{{ transaction["description"] }}</td>
                        <td>{{ transaction["amount"] }}</td>
                        <td>{{ transaction["category"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
